@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 173px 153px 178px  121px;
}


.box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 18px 0px 95px 121px; */
}
.box-1 .text-box{
  width: 662px;
}
h1 {
  margin-bottom: 28px;
  color: #000;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 101.385%;

}
.box-1 p {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

}

.box-1 img {
  width: 314px;
  height: 315px;
  margin-left: 153px;
}

.box-2 {
  display: flex;
}

.box-2 img {
  margin-right: 132px;
  width: 232px;
  height: 203px;
}

.box-2 h3 {
  margin-right: 95px;
  width: 150px;
  height: 39px;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.box-2 p {
  width: 150px;
  height: 39px;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (max-width: 1024px) {

h1{
    width: 211.396px;
    height: 53.863px;
    


}

}




